*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Helvetica;
    color: #ffffff;
}


body{
    background: linear-gradient(-45deg, #3a3a3a,#000000);
    height: 100vh;
}

body::-webkit-scrollbar{
    width: 13px;
    background-color:#3a3a3a ;
}

body::-webkit-scrollbar-thumb{
    background-color: #00000077;
    border-radius: 10.5px;
}


.flex-container{
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 40%;
}

.flex-container__title{
    font-size: 100px;
}

.flex-container__p{
    padding: 25px;
}

.btn{
    text-decoration: none;
    background-color: #23cf70;
    padding: 20px 20px;
    margin: 5px;
    color: #ffffff;
    border-radius: 16.4px;
    text-align: center;
}